# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs
/x64/Debug/Donkey_Kong.pdb
/Donkey_Kong/x64/Debug/vc143.pdb
/Donkey_Kong/x64/Debug/vc143.idb
/Donkey_Kong/x64/Debug/Donkey_Kong.tlog/CL.command.1.tlog
/Donkey_Kong/x64/Debug/Donkey_Kong.tlog/CL.read.1.tlog
/Donkey_Kong/x64/Debug/Donkey_Kong.tlog/CL.write.1.tlog
/Donkey_Kong/x64/Debug/Donkey_Kong.tlog/link.read.1.tlog
/Donkey_Kong/x64/Debug/Donkey_Kong.ilk
/Donkey_Kong/x64/Debug/Donkey_Kong.log
